
/* hide pagination */
.hidden.sm\:flex-1.sm\:flex.sm\:items-center.sm\:justify-between {
    display: none;
}

/* select2 override */

.select2-container .select2-selection--single {

    width: 100% !important;

}

.select2-container {

    width: 100% !important;
    opacity: 1 !important;
    padding: 5px;
    border-radius: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    background-color: #e9ecef !important;
    padding: 5px;
    border-radius: 10px;

}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: none;
    border-radius: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {

    display: none;
}


