/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #3A416F;
}

.svg-icon circle {
  stroke: #3A416F;
  stroke-width: 1;
}
